Label {
    -fx-font-family: "";
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-padding: 10;
}

Button {
    -fx-font-size: 12px;
    -fx-font-family: "Roboto Slab sans-serif";
    -fx-text-fill: linear-gradient(white, white);

    -fx-background-color:
            #c0efff,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;

    -fx-end-margin: 100;
    -fx-padding: 10;
    -fx-effect: dropshadow(one-pass-box, black, 1, 0, 0, 1);
}

Button:hover {
    -fx-cursor: hand;
    -fx-font-size: 12px;
    -fx-font-family: "Roboto Slab";

    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6) , 5, 0.0, 0, 1);

    -fx-padding: 10;
    -fx-text-fill: linear-gradient(white, rgb(208, 208, 208));
}

HBox, VBox {
    -fx-background-color: rgb(19, 28, 47);
}
