Label {
    -fx-text-alignment: center;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-padding: 1 10;
}

.headers {
    -fx-padding: 1 37;
    -fx-font-weight: bolder;
}
.top {
    -fx-padding: 10 0 10 10;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
.table-title {
    -fx-font-weight: bolder;
    -fx-text-alignment: center;
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-padding: 3 0 8 0;
}
.table-body1 {
    -fx-text-alignment: center;
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-padding: 1 100 0 200;
}
.table-body2 {
    -fx-text-alignment: right;
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-padding: 1 100 0 0;
}
.no-bg {
    -fx-background-color: #00000000;
}

VBox {
    -fx-background-color: #00000066;
}

Button {
    -fx-font-size: 14px;
    -fx-font-weight: bolder;
    -fx-text-fill: linear-gradient(white, white);

    -fx-background-color: rgba(50, 116, 157, 0.6);
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;

    -fx-padding: 7;
    -fx-effect: dropshadow(one-pass-box, black, 1, 0, 0, 1);
}

Button:hover {
    -fx-cursor: hand;
    -fx-font-size: 14px;

    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 5, 0.0, 0, 1);

    -fx-padding: 7;
    -fx-text-fill: linear-gradient(white, rgb(233, 233, 233));
}

.root {
    -fx-background-image: url("https://scontent.fopo2-2.fna.fbcdn.net/v/t1.15752-9/125189559_382616649608993_7834319850728946820_n.png?_nc_cat=106&ccb=2&_nc_sid=ae9488&_nc_ohc=wg14bRk-BtMAX_SbaC8&_nc_ht=scontent.fopo2-2.fna&oh=17f7e337b48779a5684397064d513852&oe=5FD3FFA2");
    -fx-background-repeat: repeat;
    -fx-background-size: cover;
}